<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/template/css/main.css"/>
	</head>
	<body>
		<div class="body">
			<img src="/template/image/bg.jpg" class="body__background"/>111
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
