{% extends 'blocks/b-layout/b-layout_two-column.twig' %}

{% block column_left %}
	{% from 'blocks/b-button/b-button.twig' import bButton %}

	{{ bButton('Подключить базу данных', {
		class: 'l-structure__connect-db'
	}) }}


	<div class="l-structure__menu-objects">
		{% include 'blocks/l-structure/l-structure__menu-objects/l-structure__menu-objects.twig' with { list: objects } %}
	</div>

{% endblock %}


{% block column_right %}

	{% if self_instance %}
		{% include 'blocks/l-structure/l-structure__object/l-structure__object.twig' with {object: self_instance, object_url: object_url} %}
	{% endif %}

{% endblock %}