<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Fenix CMS {{ title ? '| ' ~ title : '' }}</title>
		<link rel="stylesheet" href="/admin/view/blocks/style.css"/>
	</head>
	<body>
		{% block body %}{% endblock %}


		<!-- App -->
		<script src="/admin/view/blocks/i-app/i-app_jquery.js"></script>
		<script src="/admin/view/blocks/i-app/i-app.js"></script>
		<script src="/admin/view/blocks/i-app/i-app_twig.js"></script>
		<script src="/admin/view/blocks/i-app/i-app_twig-config.js"></script>


	</body>
</html>