{% extends 'blocks/b-layout/b-layout_two-column.twig' %}


{% block column_left %}
    <ul>
        <li><a href="#">Общие настройки</a></li>
        <li><a href="#">Пользователи</a></li>
    </ul>
{% endblock %}


{% block column_right %}

{% endblock %}